---
configure_dotfiles: true
configure_terminal: true

configure_osx: true
osx_script: "~/.osx --no-restart"

# Set to 'true' to configure the Dock via dockutil.
configure_dock: true
dockitems_remove:
  - Contacts
  - FaceTime
  - Maps
  - Music
  - News
  - Notes
  - Photos
  - Podcasts
  - Reminders
  - TV
dockitems_persist:
  - name: "Launchpad"
    path: "/System/Applications/Launchpad.app"
    pos: 1
  - name: "App Store"
    path: "/System/Applications/App Store.app"
    pos: 2
  - name: "Mail"
    path: "/System/Applications/Mail.app"
    pos: 3
  - name: "Calendar"
    path: "/System/Applications/Calendar.app"
    pos: 4
  - name: "Messages"
    path: "/System/Applications/Messages.app"
    pos: 5
  - name: "Safari"
    path: "/Applications/Safari.app"
    pos: 6
  - name: "Microsoft Edge"
    path: "/Applications/Microsoft Edge.app"
    pos: 7
  - name: "iTerm"
    path: "/Applications/iTerm.app"
    pos: 8
  - name: "Visual Studio Code"
    path: "/Applications/Visual Studio Code.app"
    pos: 9
  - name: "System Preferences"
    path: "/System/Applications/System Preferences.app"
    pos: 10

configure_sudoers: false
sudoers_custom_config: ''

dotfiles_repo: git@github.com:adrianmace/dotfiles.git
dotfiles_repo_accept_hostkey: true
dotfiles_repo_version: master
dotfiles_repo_local_destination: ~/Code/adrianmace/dotfiles
dotfiles_files:
  - .aliases
  - .gitconfig
  - .gitignore
  - .inputrc
  - .osx
  - .vimrc
  - .zshrc

homebrew_installed_packages:
  - awscli
  - bash
  - bash-completion
  - bat
  - cfn-lint
  - coreutils
  - curl
  - docker
  - docker-credential-helper-ecr
  - eza
  - fzf
  - gawk
  - git
  - gh
  - gnu-sed
  - gnupg
  - go
  - gpg
  - grep
  - hadolint
  - htop
  - httpie
  - iperf3
  - kubernetes-cli
  - lsd
  - mas
  - mtr
  - neofetch
  - node
  - openssl
  - wget
  - zoxide
  - zsh-autosuggestions
  - zsh-completions
  - zsh-history-substring-search
  - zsh-syntax-highlighting

homebrew_taps: []

homebrew_cask_appdir: /Applications
homebrew_cask_apps:
  - 1password
  - font-jetbrains-mono-nerd-font
  - ghostty
  - shottr
  - visual-studio-code

mas_email: ""
mas_password: ""
mas_installed_apps: []

# Install packages from other package managers.
# Note: You are responsible for making sure the required package managers are
# installed, eg. through homebrew.
composer_packages: []
# - name: drush
#   state: present # present/absent, default: present
#   version: "^8.1" # default: N/A
gem_packages: []
# - name: bundler
#   state: present # present/absent/latest, default: present
#   version: "~> 1.15.1" # default: N/A
npm_packages: []
# - name: webpack
#   state: present # present/absent/latest, default: present
#   version: "^2.6" # default: N/A
pip_packages: []
# - name: mkdocs
#   state: present # present/absent/latest, default: present
#   version: "0.16.3" # default: N/A

# Set to 'true' to configure Sublime Text.
configure_sublime: false
sublime_base_path: "~/Library/Application Support/Sublime Text"
sublime_config_path: "Packages/User"
sublime_package_control: []

# Glob pattern to ansible task files to run after all other tasks are finished.
post_provision_tasks: []
